.abone {
    text-align: right; 
    background-color: #62B3AA;
}
.orta{
    background-color:  #70CCC2;
}
.ilk{
    width: 33%;
    background-color: #7EE5DA;
}
.ust{
    background-color: #EEEEEE;

}